.dashBoardWrapper {
    display: inline-grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 3fr);
    grid-gap: 10px;
}

.text {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    align-self: center;
/*     color: white; */
}

.image1 {
    width: 500px;
    height: 250px; 
    align-self: center;
    position: relative;
    grid-column: 6 / 9;
    grid-row: 1 / 2;
}

.card1 {
    grid-column: 3 / 5;
    grid-row: 3 / 3;
    align-self: start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.6, 0.7), 0 6px 20px 0 rgba(212, 155, 155, 0.19) !important;
}

.card2 {
    grid-column: 5 / 7;
    grid-row: 3 / 3;
    align-self: start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.6, 0.7), 0 6px 20px 0 rgba(212, 155, 155, 0.19) !important;
}

.card3 {
    grid-column: 7 / 9;
    grid-row: 3 / 3;
    align-self: start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.6, 0.7), 0 6px 20px 0 rgba(212, 155, 155, 0.19) !important;
    
}

.card3:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.43);
}

.title {
    color: white;
}

.paragraph {
    color: white;
}